.c-forms {
    padding: 100px 50px;
    @media screen and (min-width:426px) and (max-width:1024px) {
        padding: 150px 0 75px 0;
    }
    
    &__title {
        margin-bottom: 50px;
    }
    
    &__form-container {
        background-size: 0;
        @media screen and (min-width:426px) and (max-width:1024px) {
            background-size: 200px;
            background-position: bottom 5% left 5%;
            background-repeat: no-repeat;
        }
        @media screen and (min-width:1025px) {
            background-size: 200px;
            background-position: bottom 10% left;
            background-repeat: no-repeat;
        }
        .wpcf7 {
            width: 100%;
            margin: 0 auto;
            @media screen and (min-width:426px) and (max-width:1024px) {
                width: 75%;
            }
            @media screen and (min-width:1025px) {
                width: 75%;
            }
            &-form {
                display: flex;
                flex-direction: column;
                gap: 20px;
                &__row {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    &--btn-link {
                        width: fit-content;
                        margin: 0 auto;
                    }
                }
                &-control {
                    width: 100%;
                    height: auto;
                    padding: 25px 15px;
                    border: none;
                    border-radius: 5px;
                    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
                }

                &__section {
                    padding: 50px 0;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 50px 0;
                    border: none;
                    border-top: solid 1px var(--white);
                    &-title {
                        width: 100%;
                        color: var(--white);
                    }
                    &-content {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 30px;
                    }
                    &-column {
                        width: 100%;
                        @media screen and (min-width:426px) and (max-width:1024px) {
                            width: calc(100% / 2);
                            padding: 0 0 0 50px;
                        }
                        @media screen and (min-width:1025px) {
                            width: calc(100% / 2);
                            padding: 0 0 0 50px;
                            border-left: solid 1px var(--white);
                        }
                        &:first-child {
                            border-left: none;
                            @media screen and (min-width:426px) and (max-width:1024px) {
                                padding-left: 0;
                                padding-right: 50px;
                            }
                            @media screen and (min-width:1025px) {
                                padding-left: 0;
                                padding-right: 50px;
                            }
                        }
                    }
                }
                &__summary {
                    &-flavour {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        @media screen and (min-width:426px) and (max-width:1024px) {
                            width: calc((100% - 30px) / 2);
                        }
                        @media screen and (min-width:1025px) {
                            width: calc((100% - 90px) / 4);
                        }
                        &-content {
                            position: relative;
                            background-color: var(--black);
                            overflow: hidden;
                            &:hover {
                                .wpcf7-form__summary-flavour-image {
                                    transform: scale(1.1);
                                    opacity: 0.85;
                                }
                            }
                        }
                        &-image {
                            width: 100%;
                            height: 100%;
                            display: block;
                            object-fit: cover;
                            transition: 0.5s ease;
                        }
                        &-name {
                            width: 100%;
                            height: 100%;
                            padding: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            top: 0;
                            left: 0;
                            color: var(--white);
                            font-size: var(--f-s-h4);
                            font-weight: var(--f-w-h2);
                            line-height: var(--f-lh-h4);
                            text-align: center;
                            text-transform: uppercase;
                            word-break: break-all;
                        }
                        &-quantity {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            label {
                                color: var(--white);
                                font-size: var(--f-s-base);
                                font-weight: var(--f-w-base);
                                line-height: var(--f-lh-base);
                                text-align: center;
                                display: none;
                            }
                            input {
                                width: 100%;
                                height: 50px;
                                aspect-ratio: 1 / 1.25;
                                margin: 0 auto;
                                text-align: center;
                                border: none;
                                border-radius: 0;
                                outline: none;
                                -moz-appearance: textfield;
                                &::-webkit-outer-spin-button,
                                &::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                }
                                @media screen and (min-width:426px) and (max-width:1024px) {
                                    width: 50px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &--preorder {
        padding-top: 0;
        .c-forms__form-container {
            .wpcf7 {
                &-form {
                    label {
                        color: var(--white);
                    }
                }
            }
        }
    }
}

.wpcf7 {
    form {
        .wpcf7-not-valid-tip {
            margin-top: 10px;
        }
        .wpcf7-response-output {
            width: fit-content;
            margin: 0 auto;
            padding: 20px;
            color: var(--white);
            background-color: inherit;
        }
    }
}