@use "sass:math";

@import "./partials/header";
@import "./partials/footer";

@import "./components/c-hero";
@import "./components/c-texts";
@import "./components/c-flavours";

@function rem($size) {
    @return calc(($size / 16px) * 1rem);
}

:root {
    --dark-pink: #D2776a;
    --light-pink: #e0b9b4;
    --green: #3b8e46;
    --bg-color: #ece2da;
    
    --white: #ffffff;
    --black: #000000;

    /* Wrapper */
    --wrapper-max: 1440px;
    --wrapper-xl: calc(var(--wrapper-max) - (130px * 2));
    --wrapper-sm: calc(var(--wrapper-max) - (485px * 2));
    
    /* Fonts family */
    --f-f-base: 'Syne', sans-serif;

    /* Fonts size */
    --f-s-h1: #{rem(38px)};
    --f-s-h2: #{rem(30px)};
    --f-s-h3: #{rem(30px)};
    --f-s-base: #{rem(16px)};

    /* Fonts weight */
    --f-w-h1: 800;
    --f-w-h2: 800;
    --f-w-h3: 700;
    --f-w-base: 400;

    /* Fonts line-height */
    --f-lh-h1: normal;
    --f-lh-h2: normal;
    --f-lh-h3: normal;
    --f-lh-base: normal;
}

body,
* {
    font-family: var(--f-f-base);
    font-size: var(--f-s-base);
    font-weight: var(--f-w-base);
    line-height: var(--f-lh-base);
}

body {
    background-color: var(--white);
}

h1 {
    font-size: var(--f-s-h1);
    font-weight: var(--f-w-h1);
    line-height: var(--f-lh-h1);
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: var(--f-s-h2);
    font-weight: var(--f-w-h2);
    line-height: var(--f-lh-h2);
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: var(--f-s-h3);
    font-weight: var(--f-w-h3);
    line-height: var(--f-lh-h3);
    text-align: center;
    text-transform: uppercase;
}

.btn-link {
    width: fit-content;
    margin: 50px auto;
    padding: 20px 50px;
    display: block;
    font-size: var(--f-s-base);
    font-weight: var(--f-w-base);
    line-height: var(--f-lh-base);
    color: var(--white);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--light-pink);
    &:hover {
        background-color: var(--dark-pink);
    }
}

.o-wrapper-xl {
    width: var(--wrapper-xl);
    max-width: var(--wrapper-max);
    margin: 0 auto;
    padding: 0;
    display: block;
}

.o-wrapper-sm {
    width: var(--wrapper-sm);
    max-width: var(--wrapper-max);
    margin: 0 auto;
    padding: 0;
    display: block;
}