@use "sass:math";

@import "./partials/header";
@import "./partials/footer";

@import "./components/c-hero";
@import "./components/c-texts";
@import "./components/c-flavours";
@import "./components/c-testimonials";
@import "./components/c-teams";
@import "./components/c-forms";

@function rem($size) {
    @return calc(($size / 16px) * 1rem);
}

:root {
    --dark-pink: #D2776a;
    --active-pink: #C02E44;
    --light-pink: #e0b9b4;
    --green: #3b8e46;
    --bg-color: #ece2da;
    
    --white: #ffffff;
    --black: #000000;

    /* Wrapper */
    --wrapper-max: 1440px;
    --wrapper-xl: calc(var(--wrapper-max) - (130px * 2));
    --wrapper-md: calc(var(--wrapper-max) - (325px * 2));
    --wrapper-sm: calc(var(--wrapper-max) - (485px * 2));
    
    /* Fonts family */
    --f-f-base: 'Syne', sans-serif;

    /* Fonts size */
    --f-s-h1: #{rem(38px)};
    --f-s-h2: #{rem(30px)};
    --f-s-h3: #{rem(30px)};
    --f-s-h4: #{rem(20px)};
    --f-s-base-strong: #{rem(20px)};
    --f-s-base: #{rem(16px)};

    /* Fonts weight */
    --f-w-h1: 800;
    --f-w-h2: 800;
    --f-w-h3: 700;
    --f-w-h4: 700;
    --f-w-base-strong: 400;
    --f-w-base: 400;

    /* Fonts line-height */
    --f-lh-h1: 45.6px;
    --f-lh-h2: 36px;
    --f-lh-h3: 36px;
    --f-lh-h4: 24px;
    --f-lh-base-strong: 24px;
    --f-lh-base: 19.2px;
}

body,
* {
    main#content {
        overflow: hidden;
    }
    color: var(--black);
    font-family: var(--f-f-base);
    font-size: var(--f-s-base);
    font-weight: var(--f-w-base);
    line-height: var(--f-lh-base);
    strong {
        font-family: var(--f-f-base-strong);
        font-size: 18px;
        font-weight: var(--f-w-base-strong);
        line-height: var(--f-lh-base-strong);
        @media screen and (min-width:426px) and (max-width:1024px) {
            font-size: var(--f-s-base-strong);
        }
    }
}

body {
    background-color: var(--white);
}

h1,
o-h1 {
    font-size: 28px;
    font-weight: var(--f-w-h1);
    line-height: var(--f-lh-h1);
    text-transform: uppercase;
    @media screen and (min-width:426px) and (max-width:1024px) {
        font-size: var(--f-s-h1);
    }
}

h2,
o-h2 {
    font-size: 20px;
    font-weight: var(--f-w-h2);
    line-height: var(--f-lh-h2);
    text-transform: uppercase;
    @media screen and (min-width:426px) and (max-width:1024px) {
        font-size: var(--f-s-h2);
    }
}

h3,
o-h3 {
    font-size: 20px;
    font-weight: var(--f-w-h3);
    line-height: var(--f-lh-h3);
    @media screen and (min-width:426px) and (max-width:1024px) {
        font-size: var(--f-s-h3);
    }
}

h4,
o-h4 {
    font-size: 18px;
    font-weight: var(--f-w-h4);
    line-height: var(--f-lh-h4);
    @media screen and (min-width:426px) and (max-width:1024px) {
        font-size: var(--f-s-h4);
    }
}

.btn-link {
    width: fit-content;
    margin: 50px auto;
    padding: 20px 50px;
    display: block;
    font-size: var(--f-s-base);
    font-weight: var(--f-w-base);
    line-height: var(--f-lh-base);
    color: var(--white);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--light-pink);
    &:hover {
        background-color: var(--active-pink);
    }
    &--menu {
        margin: 0;
        padding: 0;
        border-radius: 0;
        a {
            padding: 30px 60px !important;
            color: var(--white);
            &:hover {
                color: inherit !important;
            }
        }
    }
}
input[type="submit"].btn-link {
    margin: auto;
    padding: 20px 50px;
    cursor: pointer;
}
input:not([type='submit']),
textarea {
    &:focus,
    &:active {
        outline: solid 2px var(--active-pink);
    }
}

.o-wrapper-sm {
    margin: 0 auto;
    padding: 0;
    display: block;
    @media screen and (min-width:426px) and (max-width:1024px) {
        width: var(--wrapper-sm);
        max-width: var(--wrapper-max);
    }
}

.o-wrapper-md {
    margin: 0 auto;
    padding: 0;
    display: block;
    @media screen and (min-width:426px) and (max-width:1024px) {
        width: var(--wrapper-md);
        max-width: var(--wrapper-max);
    }
}

.o-wrapper-xl {
    margin: 0 auto;
    padding: 0;
    display: block;
    @media screen and (min-width:426px) and (max-width:1024px) {
        width: var(--wrapper-xl);
        max-width: var(--wrapper-max);
    }
}

.no-mb {
    margin-bottom: 0;
}

.o-hidden {
    display: none;
}

// @media screen and (min-width:1025px) {
//     background-color: blue !important;
// }