.c-footer {
    
    &__bg-img {
        width: 100%;
        height: 125px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        background-color: inherit;
    }

    .menu {
        &-list {
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 40px;
        }
        &-item {
            a {
                color: var(--black);
                text-decoration: none;
            }
        }
    }
}