#header {
    padding: 0 0 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--white);
    .custom-logo-link {
        width: 201px;
        display: block;
        .custom-logo {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .menu {
        &-list {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            align-items: baseline;
            list-style: none;
        }
        &-item {
            a {
                padding: 30px;
                display: block;
                text-decoration: none;
                &:hover {
                    color: var(--active-pink);
                }
            }
        }
    }
}