#header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    @media screen and (min-width:426px) and (max-width:1024px) {
        gap: 60px;
    }
    @media screen and (min-width:1025px) {
        padding: 0;
        flex-direction: row;
    }
    .custom-logo-link {
        width: 200px;
        height: auto;
        display: block;
        @media screen and (min-width:1025px) {
            margin-left: 30px;
        }
        .custom-logo {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .menu {
        display: none;
        @media screen and (min-width:426px) and (max-width:1024px) {
            display: initial;
        }
        @media screen and (min-width:1025px) {
            display: initial;
        }
        &-list {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            align-items: baseline;
            @media screen and (min-width:426px) and (max-width:1024px) {
                justify-content: center;
            }
        }
        &-item {
            &--hidden {
                display: none;
            }
            &.current-menu-item {
                a {
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                    text-underline-offset: 3px;
                    text-decoration-color: var(--active-pink);
                }
                &.btn-link--menu {
                    background-color: var(--active-pink);
                    a {
                        text-decoration: none;
                    }
                }
            }
            a {
                display: block;
                text-decoration: none;
                @media screen and (min-width:426px) and (max-width:1024px) {
                    padding: 15px;
                }
                @media screen and (min-width:1025px) {
                    padding: 30px;
                }
                &:hover {
                    color: var(--active-pink);
                }
            }
        }
    }
}